body {
  background: url(./img/—Slidesdocs—abstract\ flat\ style\ dreamland\ tennis_23f400047a.jpg);
}

.haha {
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  text-align: center;
  margin: -2px;
}
.tomot {
  display: inline-block;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: left;
  margin-left: 15%;
}

.tohai {
  display: inline-block;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: left;
  margin-left: 15%;
}

.toba{
    display: inline-block;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: left;
  margin-left: 20%;
}

.tobon{
    display: inline-block;
  font-family: "Jaro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: left;
  margin-left: 20%;
}
    
